@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik:500&display=swap');

/* GLOBAL LAYOUT */
body {
  margin:0px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif !important;
}

@media only screen and (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}

@media only screen and (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}