@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik:500&display=swap');

/* GLOBAL LAYOUT */

body {
  margin:0px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif !important;
}

a {
  color: #00B7FF;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* .container {
  display: grid;
  justify-content: center;
} */


@media only screen and (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}

@media only screen and (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}


#title {
  color:white;
}

#error-box {
  color: white;
  border: 1px solid red;
  padding: 8px 10px;
  width: 50%;
  margin: auto;
  display:none;
  margin-bottom: 14px;
}

#nbr-games{
  width: 100px;
  margin: auto;
  background-color: white;
  padding: 10px;
  border-radius: 23px;
  margin-bottom: -36px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0 , .1);
}

/* INPUT CONTAINER */

#container-input {
  margin-bottom: 20px;
  display: inline-flex;
  box-shadow: 0px 6px 10px rgba(0, 0, 0 , .2);
}

#container-input > input {
  outline: none;
  /* box-shadow: 0px 6px 10px rgba(0, 0, 0 , .2); */
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  width: 300px;
  transition: all 0.2s ease;
}

@media only screen and (max-width: 400px) {
  #container-input > input {
    width: 200px;
  }
}

#container-input > input:focus {
  box-shadow: 0px 6px 10px rgba(0, 0, 0 , .4);
}

#container-input > #btn-add {
  transition: all 0.2s ease-in;
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1); */
  border-radius: 2px;
  padding: 12px 36px;
  border:0;
  outline:0;
  font-size: 15px;
}

#container-input > #btn-add:hover {
  background: #7484ec;
}

#container-input > #btn-add:active {
  background:#7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2) !important;
}

/* NAVBAR */
#navbar {
  padding-top:20px;
  padding-bottom:20px;
  margin-bottom:30px;
  text-align: center;
}

/* CARD PLAYER */

.card {
  display: inline-flex;
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
  color: white;
  justify-content: center;
  font-size: 22px;
  border-radius: 16px;
  transition: all 0.2s ease;
  max-width: 500px;
}

@media only screen and (max-width: 400px) {
  .card {
    width: 325px;
  }
}

.card-content {
  flex-direction: row;
  display: flex;
  align-items: center;
  cursor:pointer !important;
}

.card-title {
  
  margin-left: 20px;
  margin-right: 20px;
}

.card-status {
  font-size: 10px;
}

.icon {
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-bottom: -10px;
  cursor:pointer !important;
}

.btn-delete {
  background: white;
  padding: 6px;
  border-radius: 20px;
  margin-left: 7px;
  cursor: pointer;
  width: 25px;
}

.btn-delete:hover {
  background: #ffb3c0;
  cursor: pointer;
}

/* THEME CARDS */
.greyscale {
  filter: grayscale(1) !important;
}

.card-theme-red{
  background: -webkit-linear-gradient(50deg, #702b2b, #de2545);
  background: -moz-linear-gradient(50deg, #702b2b, #de2545);
  background: -ms-linear-gradient(50deg, #702b2b, #de2545);
  background: -webkit-linear-gradient(50deg, #702b2b, #de2545);
}

.btn-red {
  color:white;
  background-color:#713436;
}

.card-theme-purple{
  background: -webkit-linear-gradient(50deg, #702b2b,#db59ea  );
  background: -moz-linear-gradient(50deg, #702b2b,#db59ea);
  background: -ms-linear-gradient(50deg, #702b2b,#db59ea);
  background: -webkit-linear-gradient(50deg, #702b2b,#db59ea);
}

.btn-purple {
  color:white;
  background-color:#81334c;
}

.card-theme-grey{
  background: -webkit-linear-gradient(50deg, #2f5498, #00fff3);
  background: -moz-linear-gradient(50deg, #2f5498, #00fff3);
  background: -ms-linear-gradient(50deg, #2f5498, #00fff3);
  background: -webkit-linear-gradient(50deg, #2f5498, #00fff3);
}

.btn-grey {
  color: white;
  background: #307bac;
}

.card-theme-green{
  background: -webkit-linear-gradient(50deg, #094171, #00ea72);
  background: -moz-linear-gradient(50deg, #094171, #00ea72);
  background: -ms-linear-gradient(50deg, #094171, #00ea72);
  background: -webkit-linear-gradient(50deg, #094171, #00ea72); 
}

.btn-green {
  color:white;
  background-color:#095a72;
}

.card-theme-orange{
  background: -webkit-linear-gradient(50deg,#102694 0,#ff7d4b);
  background: -moz-linear-gradient(50deg,#102694 0,#ff7d4b);
  background: -ms-linear-gradient(50deg,#102694 0,#ff7d4b);
  background: -webkit-linear-gradient(50deg,#102694 0,#ff7d4b);
}

.btn-orange {
  color: white;
  background:#7f8ff4;
}