#container-tchat {
  position: fixed;
  bottom: -300px;
  /* bottom: 0; */
  right: 20px;
  /* left:0;
  top:0; */
  width: 330px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color:white;
  box-shadow: 0px 1px 5px grey;
  transition: all 0.3s ease-in-out;
}

#header-tchat {
  /* color:white; */
  display: flex;
  align-items: center;
  padding: 9px;
  font-size: 13px;
  font-family: 'Rubik', sans-serif !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
  transition: background-color 0.2s ease-in-out;
}

#header-tchat:hover {
  background-color: #f2f3f5;
}

#body-tchat {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 300px;
}

#list-messages-tchat {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  padding: 10px;
}

#input-tchat {
  position: relative;
  
}

#inputs-tchat > input {
  font-size: 15px;
  width: 100%;
  outline: none;
  padding: 6px 18px;
  border-left: none;
  border-right: none;
  border-bottom:none;
  border-top: 1px solid #8080805e;
}

#label-input-from {
  position: absolute;
  margin-top: 8px;
  margin-left: 19px;
  color: grey;
}

#input-from {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin: auto;
  display: flex;
  padding-left: 60px !important;
}

.from {
  font-size: 10px;
  /* color:#8080809c */
  color: grey;
}

.from-error {
  border-color: red;
  border-bottom: 1px red solid;
}

.msg {
  z-index:-1;
  margin: 5px 0px;
  max-width: 70%;
  text-align: justify;
  padding: 4px 8px;
  border-radius: 6px;
  margin-right: auto;
  border: 1px solid #dcfff9;
}

.msg:hover {
  border-color:#8affea;
}

.msg:hover .from {
  
}

.msg-user {
  display: flex;
  float: right;
  flex-direction: column;
  margin-right: 0;
  margin-right: none;
  margin-left: auto;
  background-color: #dcfff9 !important;
  box-shadow:none;
}

#title-tchat{

}

#notif-writing {
  margin-left: auto;
  display:none;
  color:grey;
  font-size:9px;
  -webkit-animation: color_change 5s infinite;
	-moz-animation: color_change 5s infinite;
	-ms-animation: color_change 5s infinite;
	-o-animation: color_change 5s infinite;
	animation: color_change 5s infinite;
}

@-webkit-keyframes color_change {
	
  0% { color: #db59ea; }
  15% { color: #2f5498; }
  25% { color: #00fff3; }
  50% { color:  #00ea72;}
  75% { color: #ff7d4b; }
  100% { color: #de2545; }
}
@-moz-keyframes color_change {
	
  0% { color: #db59ea; }
  15% { color: #2f5498; }
  25% { color: #00fff3; }
  50% { color:  #00ea72;}
  75% { color: #ff7d4b; }
  100% { color: #de2545; }
}
@-ms-keyframes color_change {
	
  0% { color: #db59ea; }
  15% { color: #2f5498; }
  25% { color: #00fff3; }
  50% { color:  #00ea72;}
  75% { color: #ff7d4b; }
  100% { color: #de2545; }
}
@-o-keyframes color_change {
	
  0% { color: #db59ea; }
  15% { color: #2f5498; }
  25% { color: #00fff3; }
  50% { color:  #00ea72;}
  75% { color: #ff7d4b; }
  100% { color: #de2545; }
}
@keyframes color_change {
	
  0% { color: #db59ea; }
  15% { color: #2f5498; }
  25% { color: #00fff3; }
  50% { color:  #00ea72;}
  75% { color: #ff7d4b; }
  100% { color: #de2545; }
}