/* THEME CARDS */
.greyscale {
  filter: grayscale(1) !important;
}

.theme-red{
  background: -webkit-linear-gradient(50deg, #702b2b, #de2545);
  background: -moz-linear-gradient(50deg, #702b2b, #de2545);
  background: -ms-linear-gradient(50deg, #702b2b, #de2545);
  background: -webkit-linear-gradient(50deg, #702b2b, #de2545);
}

.btn-red {
  color:white;
  background-color:#713436;
}

.btn-red:hover {
  background-color:#8b4e50; 
}

.bg-light-red {
  background-color: #ff000647 !important;
}

.theme-purple{
  background: -webkit-linear-gradient(50deg, #702b2b,#db59ea  );
  background: -moz-linear-gradient(50deg, #702b2b,#db59ea);
  background: -ms-linear-gradient(50deg, #702b2b,#db59ea);
  background: -webkit-linear-gradient(50deg, #702b2b,#db59ea);
}

.btn-purple {
  color:white;
  background-color:#81334c;
}

.btn-purple:hover {
  background-color:#943b57; 
}

.bg-light-purple {
  background-color: #c200ff36 !important;
}

.theme-grey{
  background: -webkit-linear-gradient(50deg, #2f5498, #00fff3);
  background: -moz-linear-gradient(50deg, #2f5498, #00fff3);
  background: -ms-linear-gradient(50deg, #2f5498, #00fff3);
  background: -webkit-linear-gradient(50deg, #2f5498, #00fff3);
}

.btn-grey {
  color: white;
  background: #307bac;
}

.btn-grey:hover {
  background-color:#388bc2; 
}

.bg-light-grey {
  background-color: #00daff40 !important;
}

.theme-green{
  background: -webkit-linear-gradient(50deg, #094171, #00ea72);
  background: -moz-linear-gradient(50deg, #094171, #00ea72);
  background: -ms-linear-gradient(50deg, #094171, #00ea72);
  background: -webkit-linear-gradient(50deg, #094171, #00ea72); 
}

.btn-green {
  color:white;
  background-color:#095a72;
}

.btn-green:hover {
  background-color:#097292; 
}

.bg-light-green {
  background-color: #02e27252 !important;
}

.theme-orange{
  background: -webkit-linear-gradient(50deg,#102694 0,#ff7d4b);
  background: -moz-linear-gradient(50deg,#102694 0,#ff7d4b);
  background: -ms-linear-gradient(50deg,#102694 0,#ff7d4b);
  background: -webkit-linear-gradient(50deg,#102694 0,#ff7d4b);
}

.btn-orange {
  color: white;
  background:#7f8ff4;
}

.btn-orange:hover {
  background:#8896ee;
}

.bg-light-orange {
  background-color: #7f8ff44a !important;
}