/* THEME CARDS */
.greyscale {
  filter: grayscale(1) !important;
}

.theme-red{
  background: -webkit-linear-gradient(50deg, #702b2b, #de2545);
  background: -moz-linear-gradient(50deg, #702b2b, #de2545);
  background: -ms-linear-gradient(50deg, #702b2b, #de2545);
  background: -webkit-linear-gradient(50deg, #702b2b, #de2545);
}

.btn-red {
  color:white;
  background-color:#713436;
}

.theme-purple{
  background: -webkit-linear-gradient(50deg, #702b2b,#db59ea  );
  background: -moz-linear-gradient(50deg, #702b2b,#db59ea);
  background: -ms-linear-gradient(50deg, #702b2b,#db59ea);
  background: -webkit-linear-gradient(50deg, #702b2b,#db59ea);
}

.btn-purple {
  color:white;
  background-color:#81334c;
}

.theme-grey{
  background: -webkit-linear-gradient(50deg, #2f5498, #00fff3);
  background: -moz-linear-gradient(50deg, #2f5498, #00fff3);
  background: -ms-linear-gradient(50deg, #2f5498, #00fff3);
  background: -webkit-linear-gradient(50deg, #2f5498, #00fff3);
}

.btn-grey {
  color: white;
  background: #307bac;
}

.theme-green{
  background: -webkit-linear-gradient(50deg, #094171, #00ea72);
  background: -moz-linear-gradient(50deg, #094171, #00ea72);
  background: -ms-linear-gradient(50deg, #094171, #00ea72);
  background: -webkit-linear-gradient(50deg, #094171, #00ea72); 
}

.btn-green {
  color:white;
  background-color:#095a72;
}

.theme-orange{
  background: -webkit-linear-gradient(50deg,#102694 0,#ff7d4b);
  background: -moz-linear-gradient(50deg,#102694 0,#ff7d4b);
  background: -ms-linear-gradient(50deg,#102694 0,#ff7d4b);
  background: -webkit-linear-gradient(50deg,#102694 0,#ff7d4b);
}

.btn-orange {
  color: white;
  background:#7f8ff4;
}